.select-actions {
  display: flex;
  justify-content: space-between;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  /* Gray Mid */
  color: #777777;
  opacity: 0.8;
}