.table-row {
  background-color: white;

  &__odd {
    background-color: #F9F9F9;
  }

  &__archived {
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
  }

  &__selected {
    filter: drop-shadow(0px 1px 4px #F2F2F2);
    background-color: #F2F2F2;
  }

  &:hover {
    cursor: pointer;
    background-color: #F2F2F2;
  }
}



.archived-heading {
  padding: 8px;
  font-weight: 400;
  font-size: 12px;
  //line-height: 140%;
  text-transform: uppercase;

  color: #5B5B5B;

}

.select-actions {
  min-height: 36px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;

  &__icon-button {
    padding: 10px;
    background: #F2F2F2;
    border: none;
  }
}

