.cell-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #777777;
}

.absent {
  color: #C0C0C0 !important;
}

.excellent-result {
  color: #4285F4;
}